.vs/
*.sln
*.bat
bin/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
enc_temp_folder/
*/.gimp/*
*.log
/Sandbox/test.py
/Sandbox/test.sonic
/Sandbox/TestComponent.hpp
/Sandbox/TestSystem.hpp
/Sonic-Website/
/resources/
